@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<LoginTest.Models.Friendship>
@{
    ViewData["Title"] = "My profile page";
}

@if (SignInManager.IsSignedIn(User))
{
    <p> @UserManager.GetUserId(User) 's Profile</p>
}

<body>
<h1>Friends </h1>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.SecondUserId</li>
    }
</ul>
</body>