@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model LoginTest.Models.AspNetUser
@{
    ViewData["Title"] = "My profile page";
}

@if (SignInManager.IsSignedIn(User))
{
    <p> @UserManager.GetUserId(User) 's Profile</p>
}