@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<LoginTest.Models.Friendship>
@{
    ViewData["Title"] = "My profile page";
}

@if (SignInManager.IsSignedIn(User))
{
    <p> @User.Identity?.Name 's Profile</p>
}

<body>

<table class="table">
    <thead>
    <tr>
        <th>Friends</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            @foreach( var i in UserManager.Users.ToArray()) {
                @if (i.Id == item.SecondUserId)
                {
                    <th>@i.UserName</th>
                }
            }
        </tr>
    }
    </tbody>
</table>

</body>


    
