html {
  font-size: 14px;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin-bottom: 60px;
  background-color: lightblue;
  color: black;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-custom {
  background-color: black;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: white;
}


.navbar-custom .navbar-nav .nav-link:hover {
  color: deepskyblue;
}

.navbar-custom .navbar-nav .nav-link i {
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}
